<a href="https://colab.research.google.com/github/BasemRizk/TransportOrganizer/blob/main2/notebook304b2d8852.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [6]:
df=pd.read_excel('/content/Book.xlsx')

In [7]:
df.head()

   Trans ID  Prod1  Prod2  Prod3  ...  place3  place4   place5  losses
0         1    101    105    101  ...       2        5       4     200
1         2    102    101    109  ...       3        5       4     350
2         3    109    102    105  ...       4        5       3     900
3         4    108    107    103  ...       1        2       3     100
4         5    101    101    101  ...       3        4       5       0

[5 rows x 12 columns]

In [8]:
df.shape

(50, 12)

In [9]:
df=df.drop('Trans ID',axis='columns')

In [10]:
y=df.iloc[:,5:10]
y

    place1  place2  place3  place4   place5
0        1       3       2        5       4
1        1       2       3        5       4
2        2       1       4        5       3
3        4       5       1        2       3
4        1       2       3        4       5
5        1       2       3        4       5
6        5       1       2        4       3
7        1       2       3        4       5
8        5       4       3        1       2
9        1       3       5        4       2
10       1       2       5        4       3
11       5       4       3        2       1
12       1       2       3        4       5
13       1       2       3        5       4
14       1       2       4        3       5
15       1       2       3        4       5
16       5       4       3        1       2
17       2       1       3        4       5
18       2       1       3        5       4
19       5       3       1        2       4
20       1       4       5        3       2
21       5       4       3        2       1
22       5       4       1        3       2
23       5       4       3        2       1
24       5       4       3        1       2
25       1       3       5        4       2
26       1       2       5        4       3
27       5       4       3        2       1
28       5       4       3        1       2
29       1       3       2        4       5
30       1       4       3        2       5
31       2       3       1        4       5
32       5       1       3        4       5
33       3       2       5        4       1
34       1       3       2        4       5
35       1       3       4        5       2
36       1       2       3        4       5
37       5       4       3        1       2
38       1       2       3        4       5
39       4       5       1        2       3
40       1       5       3        4       2
41       3       1       2        5       4
42       1       3       2        5       4
43       2       1       3        4       5
44       5       2       4        3       1
45       1       3       5        4       2
46       1       3       2        5       4
47       3       4       2        1       5
48       3       4       5        2       1
49       4       5       2        1       3

In [11]:
x=df.drop(y,axis='columns')
x

    Prod1  Prod2  Prod3  prod4  prod5  losses
0     101    105    101    106    107     200
1     102    101    109    110    108     350
2     109    102    105    106    109     900
3     108    107    103    101    106     100
4     101    101    101    101    103       0
5     109    108    108    109    108     300
6     109    108    108    109    108     100
7     107    107    107    107    107     130
8     102    108    109    105    103     200
9     109    109    103    105    104     400
10    109    109    103    105    104     300
11    107    103    104    104    105     200
12    101    102    103    104    108      50
13    103    105    106    107    101      70
14    101    105    109    108    109     110
15    101    105    109    108    109     150
16    101    105    109    108    109     250
17    102    102    103    101    109      80
18    104    105    107    106    104     110
19    108    102    101    103    106     100
20    103    108    109    107    104     120
21    109    108    102    106    107     120
22    109    107    102    104    105     190
23    107    103    104    104    105     130
24    102    108    109    105    103     185
25    109    109    103    105    104     350
26    109    109    103    108    105     290
27    107    103    105    103    106     210
28    108    107    105    103    101     130
29    101    105    103    105    108     105
30    108    107    108    101    101     300
31    104    105    101    108    108     100
32    101    109    102    105    106     220
33    106    103    102    106    107     200
34    102    105    104    107    109     120
35    108    108    108    108    108     160
36    103    104    105    106    107      60
37    102    102    102    101    101      10
38    101    102    101    103    101      30
39    106    109    101    103    101      90
40    107    109    106    105    106     115
41    107    108    105    103    104     200
42    108    106    105    104    106     160
43    109    108    103    108    102     310
44    101    102    101    106    101     105
45    103    101    105    103    103     150
46    105    104    102    107    106     120
47    101    106    108    104    106     130
48    103    104    105    105    108     190
49    108    106    104    106    107     165

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=42)

In [13]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [14]:
a=model.score(x,y)
a

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.8721545270298219

In [15]:
pred=[108,101,102,109,107,10]
pred=model.predict([pred])
pred
b=pd.DataFrame(pred)
b=b.T
b.rank()

     0
0  3.0
1  2.0
2  1.0
3  5.0
4  4.0